<?xml version="1.0"?>
<launch>
	<!-- Map path -->
  <arg name="map_file" default="$(find dualarm_mobile_slam_navi)/maps/map.yaml"/>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Move_base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find dualarm_mobile_slam_navi)/param/costmap_common_params_dy.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find dualarm_mobile_slam_navi)/param/costmap_common_params_dy.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find dualarm_mobile_slam_navi)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find dualarm_mobile_slam_navi)/param/global_costmap_params.yaml" command="load" />
	  <rosparam file="$(find dualarm_mobile_slam_navi)/param/teb_local_planner_params_dy.yaml" command="load" />
	  
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="20.0" />
		<param name="planner_patience" value="15.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="20.0" />
		<param name="controller_patience" value="15.0" />
  </node>>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find dualarm_mobile_slam_navi)/param/amcl_params.yaml" command="load" />
    <param name="odom_model_type"		value="omni"/>
	  <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

  <!-- Run RViz node (visualization) -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dualarm_mobile_slam_navi)/rviz/slam_navi.rviz">
  </node>
  
</launch>
