<?xml version="1.0"?>
<launch>

  <!-- urdf description -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder $(find dualarm_mobile_description)/urdf/robot.urdf.xacro"/>
  <param name="robot_description" command="$(arg urdf_file)"/>
  
  <!-- Controller -->
  <node pkg="dualarm_mobile_bringup" type="bringup_publisher" name="bringup"/>
  <node pkg="dualarm_mobile_bringup" type="odom_publisher" name="odom"/>
    
</launch>
